@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

:root {
  --text: #0c0d18;
  --background: #f0f1fa;
  --primary: #333ed1;
  --secondary: #8a90f0;
  --accent: #3a47f8;
}
@media (prefers-color-scheme: dark) {
  :root {
    --text: #e7e8f3;
    --background: #05060f;
    --primary: #2e39cc;
    --secondary: #0f1675;
    --accent: #0714c5;
  }
}
